.projects {
  margin-top: 5rem;
  padding-bottom: 5rem;
}

.projects-title {
  color: var(--font_title);
  font-family: "Share Tech Mono", monospace;
  font-size: 5em;
  margin-left: 5%;
}

.project {
  margin-top: 5rem;
  position: relative;
}

.project-image {
  opacity: 0.7;
  width: 100%;
}

.project-text__container {
  position: absolute;
  bottom: 5rem;
  width: 40rem;
}

.project-title__bar {
  background-color: var(--bars);
  height: 5rem;
}

.project-title {
  color: var(--font_p);
  font-size: 3em;
  margin-left: 3rem;
  padding-top: 1.5rem;
  width: 30rem;
}

.project-description__bar {
  background-color: var(--bars);
  width: 90%;
}

.project-description {
  color: var(--font_p);
  font-size: 1.5em;
  margin-left: 3rem;
  margin-top: 1.5rem;
  width: 30rem;
}

.project-button__bar {
  background-color: var(--bars);
  height: 6rem;
  width: 70%;
}

.project-button__bar button {
  /*border: 0.2rem solid var(--background);*/
  font-size: 1.5em;
  height: 4rem;
  margin-left: 3rem;
  margin-top: 1rem;
  width: 20rem;
}
