<section class="skills">
  <h2 class="skills-title">Skills</h2>
  <div class="skills-container">
    <div class="skills-card">
      <div class="skill-progress">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="progress blue">
                <span class="progress-left">
                  <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                  <span class="progress-bar"></span>
                </span>
                <div class="progress-value">10%</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="skill-icon"><i class="fa-brands fa-square-js"></i></div>
      <div class="skill-name">
        <h3>Javascript</h3>
      </div>
    </div>
    <div class="skills-card">
      <div class="skill-progress">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="progress blue">
                <span class="progress-left">
                  <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                  <span class="progress-bar"></span>
                </span>
                <div class="progress-value">90%</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="skill-icon"><i class="fa-brands fa-square-js"></i></div>
      <div class="skill-name">
        <h3>Javascript</h3>
      </div>
    </div>
    <div class="skills-card">
      <div class="skill-progress">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="progress blue">
                <span class="progress-left">
                  <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                  <span class="progress-bar"></span>
                </span>
                <div class="progress-value">90%</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="skill-icon"><i class="fa-brands fa-square-js"></i></div>
      <div class="skill-name">
        <h3>Javascript</h3>
      </div>
    </div>
    <div class="skills-card">
      <div class="skill-progress">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="progress blue">
                <span class="progress-left">
                  <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                  <span class="progress-bar"></span>
                </span>
                <div class="progress-value">90%</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="skill-icon"><i class="fa-brands fa-square-js"></i></div>
      <div class="skill-name">
        <h3>Javascript</h3>
      </div>
    </div>
    <div class="skills-card">
      <div class="skill-progress">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="progress blue">
                <span class="progress-left">
                  <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                  <span class="progress-bar"></span>
                </span>
                <div class="progress-value">90%</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="skill-icon"><i class="fa-brands fa-square-js"></i></div>
      <div class="skill-name">
        <h3>Javascript</h3>
      </div>
    </div>
    <div class="skills-card">
      <div class="skill-progress">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="progress blue">
                <span class="progress-left">
                  <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                  <span class="progress-bar"></span>
                </span>
                <div class="progress-value">90%</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="skill-icon"><i class="fa-brands fa-square-js"></i></div>
      <div class="skill-name">
        <h3>Javascript</h3>
      </div>
    </div>
  </div>
</section>
