
<h2>Nombre del proyecto</h2>
<mat-form-field appearance="fill">
  <mat-label>Ingrese el texto</mat-label>
  <textarea matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="3"></textarea>
</mat-form-field>
<h2>Descripcion</h2>
<mat-form-field appearance="fill">
  <mat-label>Ingrese el texto</mat-label>
  <textarea matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="3"></textarea>
</mat-form-field>
<h2>Link del proyecto</h2>
<mat-form-field appearance="fill">
  <mat-label>Ingrese el texto</mat-label>
  <textarea matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="3"></textarea>
</mat-form-field>
<h2>Suba una imagen</h2>
<mat-form-field>
  <ngx-mat-file-input placeholder="JPG file only" [accept]="'.jpg'"></ngx-mat-file-input>
  <mat-icon matSuffix>folder</mat-icon>
</mat-form-field>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Editar</button>
</div>
