<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
<h2>Titulo del Skill</h2>
<mat-form-field appearance="fill">
  <mat-label>Ingrese el texto</mat-label>
  <textarea matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="3"  formControlName="title"></textarea>
</mat-form-field>
<h2>Porcentaje del Skill</h2>
<mat-form-field appearance="fill">
  <mat-label>Ingrese el texto</mat-label>
  <textarea matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="3"  formControlName="percentaje"></textarea>
</mat-form-field>
<h2>Icono de FontAwesome</h2>
<mat-form-field appearance="fill">
  <mat-label>Ingrese el texto</mat-label>
  <textarea matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="3"  formControlName="icon"></textarea>
</mat-form-field>
<h2>Color</h2>
<mat-form-field>
  <input matInput [ngxMatColorPicker]="picker" [formControl]="colorCtr">
  <ngx-mat-color-toggle matSuffix [for]="picker"></ngx-mat-color-toggle>
  <ngx-mat-color-picker #picker [touchUi]="touchUi" [color]="color"></ngx-mat-color-picker>
</mat-form-field>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close type="submit">Agregar</button>
</div>
</form>
