.cardblob {
  display: flex;
flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-evenly;
  width: 90%;

}
.example-card {
  max-width: 400px;
  margin-bottom: 8px;
}

.formation {
  background-color: var(--background);
}
.formation-title {
  color: var(--font_title);
  font-family: "Share Tech Mono", monospace;
  font-size: 5em;
  margin-left: 5%;
}
.blob {
  transform: scale(0.7);
}
.blob-left{
width: 30rem;
}

.blob-text__title h2 {
  color: var(--font_p);
}

.blob-text__sub {
  color: var(--font_p);
}

.blob-text__descript p {
  color: var(--font_p);
  width: 50%;
}
.blob-text__container {
  position: relative;
  bottom: 20rem;
  left: 10rem;
  width: 30rem;
  z-index: 1;
}

.imgblob__mask {
  width: fit-content;

}
.imgmask {
  margin-top: 3rem;
  mask-image: url("../../../../assets/img/blob-right.svg");
  mask-position: center;
  mask-size: cover;
  mask-repeat: no-repeat;
  width: 50rem;
}

@media only screen and (max-width: 1070px) {

}
