<section class="formation">
  <div class="formation-type">
    <h2 class="formation-title">Educacion</h2>
  </div>
  <div class="cardblob">
    <img class="blob" src="../../../../assets/img/blob-left.svg" alt="Card" />
    <div class="blob-text__container">
      <div class="blob-text__title">
        <h2>{{ formationTitle }}</h2>
        <div class="blob-text__sub">
          <h3>{{ formationSubTitle }}</h3>
          <div class="blob-text__descript">
            <p>{{ longText }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="imgblob__mask">
      <img
        class="imgmask"
        src="https://www.noticiastornquist.com.ar/adjuntos/2022-04/casino.jpg"
        alt=""
      />
    </div>
  </div>
</section>
