<section class="formation">
  <div class="formation-type">
    <h2 class="formation-title">Educacion</h2>
  </div>
  <div class="cardblob">
    <div class="blob-left">

      <svg class="blob" id="demo-svg"  width="1000" height="1000">

        <path stroke="none" fill="red" d="M805.5,597Q767,694,657.5,671Q548,648,474,727.5Q400,807,288,771Q176,735,101,617.5Q26,500,105,385Q184,270,298.5,251Q413,232,496,244.5Q579,257,629,313.5Q679,370,761.5,435Q844,500,805.5,597Z"></path>
      </svg>
      <div class="blob-text__container">
        <div class="blob-text__title">
          <h2>{{ formationTitle }}</h2>
        <div class="blob-text__sub">
            <h3>{{ formationSubTitle }}</h3>
        <div class="blob-text__descript">
            <p>{{ longText }}</p>
        </div>
      </div>
    </div>
    </div>
    </div>
    <div class="blob-right">
      <div class="imgblob__mask">
      <img
        class="imgmask"
        src="https://www.noticiastornquist.com.ar/adjuntos/2022-04/casino.jpg"
        alt=""
      />
    </div>
    </div>


  </div>


</section>
