.about{
  padding-bottom: 3rem;
}

.about-head {
  background-color: var(--background);
  display: flex;
  padding-right: 2rem;
}
.about-pic{
  position: relative;
}
.about-pic__image {
  bottom: 100px;
  height: 30rem;
  width: 30rem;
  border-radius: 100%;
  object-fit: cover;
  padding: 1rem;
  position: relative;
}
.about-text__title {
  position: relative;

}

.about-text__title h1 {
  color: var(--font_title);
  font-family: "Share Tech Mono", monospace;
  font-size: 7em;
  line-height: 1em;
  padding-right: 20%;
}
.about-text__descript {
  margin-left: 30rem;
  margin-right: 5rem;
  position: relative;

}
.about-text__descript p {
  color: var(--font_p);
  font-style: italic;
  font-size: 2em;
  line-height: 1.5em;
}
.hidden-bar{
  display: none;
}
.hidden-title {
  display: none;
}
.hidden-navbar-networks i{
  margin: 1rem 1rem;
  font-size: 2em;
}
.hidden-navbar-networks a:visited{
  color: var(--navbar-font);
  }

.hidden-title {
  color: var(--navbar-font);
  font-size: 3em;
  font-weight: 500;
  }

 .fa-brands, .fab {
    margin: auto 1rem;
  }

  .edit-icon__title{
    color: var(--font_p);
    justify-content: flex-end;
    display: flex;
    position: relative;
    bottom: 10rem;
    width: 86%;
  }
  .about-text__edit{
    color: var(--font_p);
    justify-content: center;
    display: flex;
}
.edit-icon__avatar{
  position: relative;
    width: 80%;
    display: flex;
    justify-content: flex-end;
    bottom: 13rem;
}
.admin-buttons__container{
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.add-btn__container{
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.add_btn{
  height: 5rem;
  font-size: 1.5em;
  width: 15rem;
}
.networks a{
  color: var(--navbar-font);
}
.networks a:visited{
  color: var(--navbar-font);
  }

  /*    DRAG AND DROP   */

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
@media only screen and (max-width: 1500px) {

  .about-text__title h1 {

    font-size: 5em;

  }
}

@media only screen and (max-width: 1330px) {

  .about-pic__image {
    height: 18rem;
    width: 18rem;
  }
  .about-text__title h1 {
    font-size: 5em;
  }
  .about-text__descript {
    margin-left: 15rem;
  }
}

@media only screen and (max-width: 985px) {

  .about-text__title h1 {
    font-size: 4em;
  }
  .about-text__descript p {
    font-size: 1.5em;
  }
  .about-pic__image {
    height: 15rem;
    width: 15rem;
  }
}

@media only screen and (max-width: 664px) {
  .hidden-bar{
    display: block;
  }

  .about-head {
    flex-direction: column;
    text-align: center;
    padding-right: 0;
  }
  .about-text__title{
    width: 90%;
    margin: 0 auto;
  }
  .about-text__title h1 {
    font-size: 2.8em;
    padding-right: 0;
  }
  .about-pic{
    height: 8rem;
  }
  .about-pic__image {
    bottom: 11rem;
    height: 19rem;
    width: 19rem;
  }
  .about-text__descript{
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .edit-icon__avatar{
    bottom: 16rem;
    width: 69%;
  }
}
@media only screen and (max-width: 370px) {
  .hidden-title {
    display: block;
  }
}
@media only screen and (max-width: 300px) {
  .about-text__title h1 {
    font-size: 2.5em;
    padding-right: 0;
  }
  .about-pic__image {
    height: 16rem;
    width: 16rem;
  }
  .about-pic{
    height: 5rem;
  }
  .about-text__descript p {
    font-size: 1em;

  }
  .about-text__descript {
    margin: 0 auto;
    width: 90%;
  }

  }
