<section class="about" >

  <div class="about-head" >
    <div class="about-pic" >
      <img data-aos="flip-left" src={{avatarImage}} class="about-pic__image" />
      <app-edit-icon class="edit-icon__avatar" (click)="openAvatarDialog('3000ms', '1500ms')" *ngIf="jwtToken$ | async"></app-edit-icon>
    </div>

    <div class="hidden-bar">
      <span class="hidden-title">#YoProgramo</span>
      <div data-aos="fade-right" class="hidden-navbar-networks">
        <button mat-mini-fab color="primary" aria-label="Example icon button with a filter list icon" (click)="openNetworkDialog('3000ms', '1500ms')" *ngIf="jwtToken$ | async">
          <mat-icon >add</mat-icon>
        </button>
        <div class="networks" cdkDropList (cdkDropListDropped)="drop($event)">
          <div class="networks-hidden__container" *ngFor="let network of networks" cdkDrag ><a href={{network.link}} ><i class={{network.icon}} ></i> </a> <button class="network-hidden__delete" mat-icon-button color="warn" aria-label="Delete icon" (click)="deleteNetwork(network.id)" *ngIf="jwtToken$ | async">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        </div>
      </div>

    </div>
    <div class="about-text__title" style="overflow-x: hidden">
      <h1 data-aos="fade-left" data-aos-duration="3000">
      {{welcome}}
      </h1>
      <app-edit-icon class="edit-icon__title" (click)="openTextDialog('3000ms', '1500ms')" *ngIf="jwtToken$ | async"></app-edit-icon>
    </div>

  </div>
  <div class="about-text__descript" style="overflow-x: hidden">
    <div *ngFor="let about of aboutme">
      <p data-aos="fade-right" data-aos-duration="1000">
        {{about.text}}
      </p>
      <br />
      <div class="admin-buttons__container" *ngIf="jwtToken$ | async">
        <app-edit-icon class="about-text__edit" (click)="openTextDialog('3000ms', '1500ms')"></app-edit-icon>
        <app-delete-icon class="about-text__delete"  id="education-{{about.id}}" (click)="deleteAboutText(about.id)"></app-delete-icon>
      </div>
    </div>
  </div>
  <div class="add-btn__container" *ngIf="jwtToken$ | async">
    <button mat-raised-button color="primary" class="add_btn" (click)="openTextDialog('3000ms', '1500ms')">Agregar Item</button>
  </div>


</section>
