<section class="about">

  <div class="about-head">
    <div class="about-pic">
      <img src="../../../../assets/img/avatar.jpg" class="about-pic__image" />
    </div>
    <div class="about-text__title">
      <h1>
        Hola! me llamo Nicolás Nuccelli y soy desarrollador de páginas y aplicaciones
      </h1>
    </div>

  </div>
  <div class="about-text__descript">
    <p>
      Desde muy chico siempre estuve en contacto con las computadoras desde
      DOS y luego Windows 3.1. Con el tiempo fui adquiriendo conocimientos en
      varios software de diseño con los cuales realizo trabajos de renders
      para una arquitecta, (AutoCad, SketchUp, Fusion 360, Adobe Suite) y
      producción musical (Ableton Live) debido a que soy musico. Soy
      desarrollador web fullstack manejando, HTML, CSS, Javascript, Bootstrap
      y frameworks como Angular y React. Manejo backend con SpringBoot además
      de manejar su dependecia de seguridad y autenticacion JWT. Tambien
      realice aplicaciones de escritorio con Java y JavaFX. Ultimamente estoy
      desarrollando proyectos de Data Science poniendo en practica los cursos
      de Machine Learning y Deep Learning realizados en Alura Latam. Como
      segundo idioma manejo Ingles con un nivel C1 Advanced segun el EF
      Standard English Test.
    </p>
    <br />
    <p>
      Forme parte del primer grupo de Proyecto ONE dictado por Alura Latam +
      Oracle , realizando de manera satisfactoria todas las rutas de
      aprendizaje y logrando tener el reconocimiento de Alura Latam como
      ayudante ONE Helper del Grupo 3. Soy una persona que le gusta aprender
      cosas nuevas sobre todo tecnologías, que sabe trabajar en equipo y a su
      vez me considero emprendedor.
    </p>
  </div>
</section>
