<h2>Titulo</h2>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
<mat-form-field appearance="fill">
  <mat-label>Ingrese el texto</mat-label>
  <textarea matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="3"
            formControlName="title" name="title" value={{title}}></textarea>
</mat-form-field>
<h2>Subtitulo</h2>
<mat-form-field appearance="fill">
  <mat-label>Ingrese el texto</mat-label>
  <textarea matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="3"
            formControlName="subtitle" name="subtitle" value={{subtitle}}></textarea>
</mat-form-field>
<h2>Descripcion</h2>
<mat-form-field appearance="fill">
  <mat-label>Ingrese el texto</mat-label>
  <textarea matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="5"
            cdkAutosizeMaxRows="10"
            formControlName="detail" name="detail" value={{detail}}></textarea>
</mat-form-field>
<h2>Color</h2>
<mat-form-field>
  <input matInput [ngxMatColorPicker]="picker" [formControl]="colorCtr"  name="color">
  <ngx-mat-color-toggle matSuffix [for]="picker"></ngx-mat-color-toggle>
  <ngx-mat-color-picker #picker [touchUi]="touchUi" [color]="color"></ngx-mat-color-picker>
</mat-form-field>
<h2>Imagen</h2>
<mat-form-field class="example-full-width" >
  <mat-label>La imagen debe ser horizontal</mat-label>
  <input matInput placeholder="Link" name="image" formControlName="image" value={{image}}>
</mat-form-field>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" mat-dialog-close type="submit"  [disabled]="!profileForm.valid" >Editar</button>
</div>
</form>